{% extends "layout.html" %}
{% block content %}
<div class="page-content content-section">
  <h2 class="bottom-border-line">PROJECT DESCRIPTION</h2>
  <p>The purpose of this site is to showcase my abilities as a Python developer
      and what Flask can do as a framework for web applications.</p>
  <p>The site works on computers and mobile devices, and implements security
      mechanisms to prevent Cross Site Scripting (XSS) attacks, SQL injections,
      and other threats.</p>
  <p>The backend runs on nginx on a Linode server.</p>
  <p>In the process of finishing this project, I got more comfortable working
      with both frontend and backend web development, including:</p>
  <ul>
    <li>Python 3</li>
    <li>SQL / MySQL / SQLAlchemy / SQLite3</li>
    <li>Flask</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>Bootstrap</li>
    <li>WTForms</li>
    <li>Bcrypt</li>
    <li>nginx</li>
    <li>SSH</li>
    <li>HTTPS certificates</li>
    <li>Linux bash commands + cloud server administration</li>
    <li>Web Security</li>
    <li>virtualenv</li>
    <li>pip</li>
  </ul>
</div>
{% endblock content %}