{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" enctype="multipart/form-data" action = "">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<div  class="bottom-border-line">
				<h3>New Slide for Carousel</h3>
				</div>

				<p>Note: Add photos that are wider than they are tall. No square images, no images that are taller than they are wide.</p>

				<div class="form-group bottom-border-line">

					<p>Image:</p>

					{% if form.image_file.errors %}
						{{ form.image_file(class="btn btn-outline-info") }}
						<div class="invalid-feedback">
							{% for error in form.image_file.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.image_file(class="btn") }}
					{% endif %}<br><br>
					
				</div>


				<div class="form-group bottom-border-line">

					<p>Caption:</p>

					{% if form.caption.errors %}
						{{ form.caption(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.caption.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div><br>
					{% else %}
						{{ form.caption(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

			</fieldset>

			<div class="form-group">
				{{ form.submit_new(class="btn btn-outline-info") }}
			</div>
	

		</form>
	</div>
{% endblock content %}







