{% extends 'layout.html' %}

{% block content %}
<div class="page-content content-section">


<h2 class="bottom-border-line">LINKS OF INTEREST</h2>

<br>

<a href="http://flask.pocoo.org//"><img class="img-responsive centered-image" src="../static/images/links/flask_official.png"><p class="centered-text black-text">Flask Official Site</p></a><br><br>

<a href="https://docs.python.org/3.7/"><img class="img-responsive centered-image" src="../static/images/links/python_documentation.png"><p class="centered-text black-text">Python 3.7 Documentation</p></a><br><br>

<a href="https://www.thriftbooks.com/w/html-and-css-design-and-build-websites_jon-duckett/442192/#isbn=1118008189&idiq=4550314"><img class="img-responsive centered-image" src="../static/images/links/html_and_css_book.png"><p class="centered-text black-text">HTML & CSS by Jon Duckett</p></a><br><br>




</div>



{% endblock %}