{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" enctype="multipart/form-data" action = "">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">

				<br>
				<h3 class="centered-text bottom-border-line">NBA 2018/19 Stat Search<br><br></h3><p class="bottom-border-line">This is a search engine that acts as a stat filter. You can find out an individual player's stats by selecting their name, or find out all the shooting guards under the age of 25 who had at least 500 rebounds, and scored at least 1000 points. Scroll all the way down to the bottom of the screen for the Search Database button after you've selected all the filters you want.<br><br></p>

				


				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.name.label(class="form-control-label") }}</p>

					{% if form.name.errors %}
						{{ form.name(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.name(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.team.label(class="form-control-label") }}</p>

					{% if form.team.errors %}
						{{ form.team(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.team.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.team(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.position.label(class="form-control-label") }}</p>

					{% if form.position.errors %}
						{{ form.position(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.position.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.position(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">


					<p class="centered-text">{{ form.age.label(class="form-control-label") }}</p>



					{% if form.age_range.errors %}
						{{ form.age_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.age_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.age_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				


					{% if form.age.errors %}
						{{ form.age(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.age.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.age(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>


				<div class="form-group bottom-border-line">


					<p class="centered-text">{{ form.games.label(class="form-control-label") }}</p>

					{% if form.games_range.errors %}
						{{ form.games_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.games_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.games_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.games.errors %}
						{{ form.games(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.games.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.games(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">


					<p class="centered-text">{{ form.games_started.label(class="form-control-label") }}</p>

					{% if form.games_started_range.errors %}
						{{ form.games_started_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.games_started_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.games_started_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.games_started.errors %}
						{{ form.games_started(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.games_started.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.games_started(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">


					<p class="centered-text">{{ form.minutes_played.label(class="form-control-label") }}</p>

					{% if form.minutes_range.errors %}
						{{ form.minutes_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.minutes_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.minutes_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.minutes_played.errors %}
						{{ form.minutes_played(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.minutes_played.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.minutes_played(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>



				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.points.label(class="form-control-label") }}</p>

					{% if form.points_range.errors %}
						{{ form.points_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.points_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.points_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.points.errors %}
						{{ form.points(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.points.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.points(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.field_goals.label(class="form-control-label") }}</p>

					{% if form.field_goal_range.errors %}
						{{ form.field_goal_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.field_goal_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.field_goal_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.field_goals.errors %}
						{{ form.field_goals(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.field_goals.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.field_goals(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.field_goal_attempts.label(class="form-control-label") }}</p>

					{% if form.field_goal_attempts_range.errors %}
						{{ form.field_goal_attempts_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.field_goal_attempts_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.field_goal_attempts_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.field_goal_attempts.errors %}
						{{ form.field_goal_attempts(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.field_goal_attempts.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.field_goal_attempts(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>


				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.field_goal_percentage.label(class="form-control-label") }}</p>

					{% if form.field_goal_percentage_range.errors %}
						{{ form.field_goal_percentage_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.field_goal_percentage_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.field_goal_percentage_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.field_goal_percentage.errors %}
						{{ form.field_goal_percentage(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.field_goal_percentage.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.field_goal_percentage(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.three_point_shots_made.label(class="form-control-label") }}</p>

					{% if form.three_point_shots_made_range.errors %}
						{{ form.three_point_shots_made_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.three_point_shots_made_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.three_point_shots_made_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.three_point_shots_made.errors %}
						{{ form.three_point_shots_made(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.three_point_shots_made.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.three_point_shots_made(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.three_point_attempts.label(class="form-control-label") }}</p>

					{% if form.three_point_attempts_range.errors %}
						{{ form.three_point_attempts_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.three_point_attempts_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.three_point_attempts_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.three_point_attempts.errors %}
						{{ form.three_point_attempts(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.three_point_attempts.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.three_point_attempts(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.three_point_percentage.label(class="form-control-label") }}</p>

					{% if form.three_point_percentage_range.errors %}
						{{ form.three_point_percentage_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.three_point_percentage_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.three_point_percentage_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.three_point_percentage.errors %}
						{{ form.three_point_percentage(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.three_point_percentage.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.three_point_percentage(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.two_point_shots_made.label(class="form-control-label") }}</p>

					{% if form.two_point_shots_made_range.errors %}
						{{ form.two_point_shots_made_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.two_point_shots_made_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.two_point_shots_made_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.two_point_shots_made.errors %}
						{{ form.two_point_shots_made(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.two_point_shots_made.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.two_point_shots_made(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>


				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.two_point_attempts.label(class="form-control-label") }}</p>

					{% if form.two_point_attempts_range.errors %}
						{{ form.two_point_attempts_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.two_point_attempts_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.two_point_attempts_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.two_point_attempts.errors %}
						{{ form.two_point_attempts(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.two_point_attempts.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.two_point_attempts(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.two_point_percentage.label(class="form-control-label") }}</p>

					{% if form.two_point_percentage_range.errors %}
						{{ form.two_point_percentage_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.two_point_percentage_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.two_point_percentage_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.two_point_percentage.errors %}
						{{ form.two_point_percentage(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.two_point_percentage.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.two_point_percentage(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.free_throws_made.label(class="form-control-label") }}</p>

					{% if form.free_throws_made_range.errors %}
						{{ form.free_throws_made_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.free_throws_made_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.free_throws_made_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.free_throws_made.errors %}
						{{ form.free_throws_made(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.free_throws_made.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.free_throws_made(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.free_throw_attempts.label(class="form-control-label") }}</p>

					{% if form.free_throw_attempts_range.errors %}
						{{ form.free_throw_attempts_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.free_throw_attempts_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.free_throw_attempts_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.free_throw_attempts.errors %}
						{{ form.free_throw_attempts(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.free_throw_attempts.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.free_throw_attempts(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.free_throw_percentage.label(class="form-control-label") }}</p>

					{% if form.free_throw_percentage_range.errors %}
						{{ form.free_throw_percentage_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.free_throw_percentage_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.free_throw_percentage_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.free_throw_percentage.errors %}
						{{ form.free_throw_percentage(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.free_throw_percentage.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.free_throw_percentage(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.offensive_rebounds.label(class="form-control-label") }}</p>

					{% if form.offensive_rebounds_range.errors %}
						{{ form.offensive_rebounds_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.offensive_rebounds_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.offensive_rebounds_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.offensive_rebounds.errors %}
						{{ form.offensive_rebounds(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.offensive_rebounds.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.offensive_rebounds(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.defensive_rebounds.label(class="form-control-label") }}</p>

					{% if form.defensive_rebounds_range.errors %}
						{{ form.defensive_rebounds_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.defensive_rebounds_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.defensive_rebounds_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.defensive_rebounds.errors %}
						{{ form.defensive_rebounds(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.defensive_rebounds.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.defensive_rebounds(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.total_rebounds.label(class="form-control-label") }}</p>

					{% if form.total_rebounds_range.errors %}
						{{ form.total_rebounds_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.total_rebounds_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.total_rebounds_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.total_rebounds.errors %}
						{{ form.total_rebounds(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.total_rebounds.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.total_rebounds(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

				<div class="form-group bottom-border-line">
					<p class="centered-text">{{ form.assists.label(class="form-control-label") }}</p>

					{% if form.assists_range.errors %}
						{{ form.assists_range(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.assists_range.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.assists_range(class="form-control form-control-lg") }}<br>
					{% endif %}
				
					{% if form.assists.errors %}
						{{ form.assists(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.assists.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						<br>
					{% else %}
						{{ form.assists(class="form-control form-control-lg") }}<br>
					{% endif %}
				</div>

			</fieldset>


			<div class="form-group centered-text">
				{{ form.submit_search(class="btn btn-outline-info") }}
			</div>

		</form>
	</div>
{% endblock content %}