{% extends 'layout.html' %}

{% block content %}

<div class="page-content content-section">
<h2 class="bottom-border-line">SUBMIT INFO / DONATE</h2>

<!-- <h3><b>Don't just sit there - do something!</b></h3> -->

<div class="bottom-border-line">
<p>Visitors to the site can submit their info via these links. The app forwards all info submitted to the admin's email address.<br></p>
</div>
<div class="bottom-border-line">
<h5><b>Submit membership form</b>:</h5>
<p>If the site is set up for a group that has a membership system, visitors to the site can submit their information to become a new member here.</p>
<p>To become a member, <a href="/become-a-member"><b>click here</b>.</a></p><br>
</div>
<div class="bottom-border-line">
<h5><b>Donate</b>:</h5><p>If the site is set up for a non-profit or volunteer group that accepts donations, a paypal button gives the site's visitors the option of easily donating money to the group through paypal.<br></p>
<p>To donate, click the button: 
</p>


<img class ="nav-item nav-link" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" /><br>
<p>Button has been disabled, as page is for demonstration purposes and does not represent a group.</p>

</div>

<div class="bottom-border-line">
<h5><b>Volunteer</b>:</h5><p>If the site is set up for a group that needs volunteers, a form is provided to the site's visitors to submit their info and let the group know what skills they can bring to the table.<br></p>
<p>To sign up to volunteer, <a href="/volunteer"><b>click here</b>.</a><br><br></p>
</div>

<div class="bottom-border-line"><h5><b>Email List Announcements:</b></h5><p>If the site is set up for a group or company with email announcements, visitors could submit their email addresses here to receive them.<br></p>
<p>To add your email to the list, <a href="/email-list-sign-up"><b>click here</b>.</a></p><br>
</div>

</div>

{% endblock %}